html, body{
	min-height:100%;
	position: relative;
	height: 100%;
    background: #F4F9FF;
}
body{
	font-family: 'proxima_nova_regular', sans-serif;
}
.clearfix {
	clear: both;
}


::selection {
    color: #fff;
    background: #19b5fe
}
::-moz-selection {
    color: #fff;
    background: #19b5fe
}
::-webkit-selection {
    color: #fff;
    background: #19b5fe
}

/**
 *
 * Wrapper
 *
 */
.wrapper{
	/*background: #1D2B37;*/
	position: relative;
	min-height: 100%;
	min-width: 100%;
}

.header{
	height: 85px;
	min-width: 100%;
}

.header .site-logo {
    width: 300px;
    height: 85px;
    float: left;
    background: #202f3e;
    padding: 21px 46px;
    text-align: center;
    border-bottom: 1px solid #32465a;
}
.header .site-logo a {
    height: 48px;
    width: 100%;
    padding: 2px 42px;
    display: block;
}
.header .site-logo img {
    max-height: 38px;
    width: 100%;
}

/* Checkbox */
.sp_check{
    margin-top: 40px;
}
.sp_check input{
    display: none;
}
.sp_check label{
    font-family: 'proxima_nova_regular';
    color: #94acc3  !important;
    font-size: 15px !important;
}
.sp_check span {
    border: 2px solid #03ad86;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
    margin: -3px 6px 0px 0px;
    position: relative;
}
.sp_check span:after {
    position: absolute;
    left: -1px;
    top: -1px;
    content: '\f00c';
    font-family: 'FontAwesome';
    background: #03ad86;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    padding-left: 2px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sp_check input[type="checkbox"]:checked + label span:after{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

/**
 *
 * Navigation
 *
 */
.navigation {
    height: 85px;
    color: #fff;
    margin-left: 300px;
    background: #17242f;
    padding: 22px 50px;
}
.nav-mobile-menu{
    display: none;
    
}
.nav-form{
	width: 350px;
	position: relative;
}


.nav-form form input{
	width: 100%;
	height: 40px;
	border: 2px solid #202f3e;
	border-radius: 100px;
	padding: 0px 15px;
	background: #202f3e;
	float: left;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-form form input:focus{
	outline: none;
	border: 2px solid #c2d4e9;
}

.nav-form form input::-webkit-input-placeholder {
	color: #63788c;





}

.nav-form form input:-moz-placeholder {
	color: #63788c;
}
.nav-form form input::-moz-placeholder {
	color: #63788c;
}
.nav-form form input:-ms-input-placeholder {
	color: #63788c;
}


.nav-form form button{
    position: absolute;
    right: 0px;
    top: 2px;
    background: none;
    border: none;
    color: #63788c;
    height: 36px;
    border-radius: 100px;
    width: 60px;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     transition: all 0.3s ease;
}

.nav-form form button:hover{
	color: #c2d4e9;

}

.nav-form form button:focus{
	outline: none
}

.nav-profile{
	float: right;
}


.nav-profile .nav-right-item {
	float: right;
}

.nav-profile .nav-right-item.nav-user-profile{
	margin-left: 50px;
	position: relative;
}


.nav-profile .nav-right-item.nav-user-profile:before {
    position: absolute;
    left: -50px;
    top: 3px;
    width: 1px;
    height: 40px;
    background: #32465a;
    content: '';
}
.nav-profile .nav-right-item.notification {
    padding: 8px 0px;
    margin-right: 50px;
    position: relative;
}
.nav-profile .nav-right-item.notification button {
    background: none;
    border: none;
    font-size: 19px;
}
.nav-profile .nav-right-item.notification  button:focus{
    outline: none
}
.nav-profile .nav-right-item.notification .notification-count {
    position: absolute;
    left: 18px;
    top: -17px;
    width: 25px;
    height: 25px;
    text-align: center;
    background: #ff474c;
    color: #f4f9ff;
    font-weight: 700;
    border-radius: 50px;
    font-size: 13px;
    padding: 3px 0px;
}
.nav-user-profile .nav-user-name {
    float: left;
    margin-right: 25px;
    text-align: right;
}

.nav-user-profile .nav-user-name h3 {
    font-size: 17px;
    font-weight: 700;
    color: #c7d5e0;
    font-family: 'proxima_nova_bold';
    margin: 4px 0px 3px;
}
.nav-user-profile .nav-user-name span{
	color: #5d7b94;
	font-weight: 400;
	font-size: 13px;
}
.nav-user-profile .nav-user-img{
	float: left;
}
.no-notif{
    padding-top: 10px !important;
    padding-left: 0px !important;
}
.client-list-img img,
.tbl-img img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
}.nav-user-profile .nav-user-img img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.nav-user-profile .nav-user-drop-profile {
    float: left;
    padding: 15px 0px;
    margin-left: 20px;
}
.nav-user-profile .nav-user-drop-profile  button {
    border: none;
    background: none
}
.nav-user-profile .nav-user-drop-profile  button:focus{
    outline: none;
}
.nav-user-profile .nav-user-drop-profile  i{
	color: #8198ac;
}

.nav-user-profile .nav-user-drop-profile  i:hover{
	cursor: pointer;
}



.notif_top{
    padding: 5px 20px;
}
.notif_top span.title {
    color: #000;
    font-family: 'proxima_nova_bold';
    text-transform: uppercase;
    font-size: 13px;
    padding: 7px 0px 4px;
    display: inline-block;
}
.notif_top button.remove_all_notif{
    color: #000;
    background: none;
    border: none;
    float: right;
    font-family: 'proxima_novasemibold';
    padding-top: 8px;
    font-size: 12px !important;
}
.popover-notification .popover-modal .popover-body {
    padding: 1em;
}
.popover-notification .popover-modal{
    width: 340px;
    height: 300px;
}
.notification .popover-body{
    padding: 0px !important;
}
.notification .popover-body ul {
    height: 260px;
    width: 360px;
}
.notification .scrollable.gray-skin .scroll-bar .thumb {
    background-color: #bed2e5;
}
.notification .scrollable .scroll-bar.vertical {
    position: absolute;
    right: 20px;
    height: 100%;
    z-index: 1;
}
.notification .scrollable.gray-skin .scroll-bar {
    border: none;
    background-color: transparent;
}
.notification .scrollable.gray-skin .scroll-bar .thumb {
    background-color: #bed2e5;
    border-radius: 13px;
}
.notif-item {
    color: #8198ac;
    position: relative;
    padding: 0px;
    position: relative;
}
.notif-item a{
    font-size: initial;
}
.notif-item:after{
    height: 1px;
    width: 120%;
    position: absolute;
    left: 0px;
    top: 0px;
    content: '';
    background:  #f3f6f9;

}
.notif-item .notif-item-l {
    width: 35px;
    float: left;
    padding: 2px 7px;
}
.notif-item .notif-item-l span i {
    color: #d2dfeb;
}
.notif-item .notif-item-l span.open i {
    color: #2B3E50
}
.notif-item .notif-item-l span.solved i {
    color: #00b98b;
}

.notif-item .notif-item-l span.pending i {
    color: #FF474C;
}
.notif-item .notif-item-r {
    margin-left: 36px;
    padding-right: 20px;
}

.notif-item .notif-item-r p {
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 4px;
    font-size: 13px;
}
.notif-item .notif-item-r p b {
    color: #202f3e;
}
.scrollable .viewport .overview {
    position: absolute;
    width: 100%;
}
.notif-item .notif-item-r span.date {
    color: #8998a5;
    font-size: 12px;
}
.notif-item .notif-item-r button.close {
    position: absolute;
    right: 30px;
    top: 13px;
    font-size: 17px;
    color: #8198ac;
}

/**
 *
 * Sidebar
 *
 */

.main-sidebar{
	position: absolute;
	left: 0px;
	top: 85px;
	background: #202f3e;
	width: 300px;
	min-height: 100%;
	color: #fff;
}

.menu-label {
    color: #4a6379;
    padding: 31px 30px 31px 57px;
    height: 80px;
}
.menu-label p {
    margin: 0px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px
}
.sidebar-menu{
    margin: 0px;
    padding: 0px;
}
.sidebar-menu li {
    list-style: none;
}
.sidebar-menu li.dropdown-active > a{
    background: #17242f;
    border-left: 4px solid #ff474c;
    padding: 23px 30px 23px 46px;
}


.sidebar-menu li a {
    border-left: 4px solid transparent;
    padding: 23px 30px 23px 50px;
    display: inline-block;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #293b4c;
    min-height: 70px;
    max-height: 70px;
}
.sidebar-menu li,
.sidebar-menu li a{
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.sidebar-menu li a:hover{
    text-decoration: none;
}
.sidebar-menu li a:focus{
    text-decoration: none;
    outline: none;
}
.sidebar-menu li a:after {
    position: absolute;
    left: -8px;
    bottom: -54px;
    opacity: 0;
    width: 100%;
    height: auto;
    content: url('/assets/img/menu-shadow.png');
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.sidebar-menu li a:hover:after{
    opacity: 1;
}
.sidebar-menu li.dropdown-active a:after{
    position: absolute;
    left: -8px;
    bottom: -54px;
    opacity: 1;
    width: 100%;
    height: auto;
    content: url('/assets/img/menu-shadow.png');
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.sidebar-menu > li:hover > a{
    cursor: pointer;
    background: #17242f;
    border-left: 4px solid #ff474c;
    padding: 23px 30px 23px 46px;
}
.sidebar-menu li img {
    margin-right: 30px;
    padding-bottom: 5px;
}
.sidebar-menu li span.title{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'proxima_nova_bold';
    color: #8198ac;
}

.sidebar-menu li .menu-label {
    padding: 2px 13px;
    background: #ddd;
    border-radius: 100px;
    margin-left: 20px;
}
.label-all{
    background: #068868 !important;
    color: #fff;
}
.label-new{
    background: #00b98b !important;
    color: #fff;
}
.label-pending{
    background:#ff474c !important;
    color: #fff;
}
.label-solved{
    background: #258DF4 !important;
    color: #fff;
}

.sidebar-menu li i.arrow-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    color: #748a9d;
    margin-top: -11px;
    font-size: 19px;
    transform: rotate(-90deg);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.sidebar-menu li.dropdown-active i.arrow-icon {
    transform: rotate(0deg);
}
/* Sidebar Dropdown menu */
/*.sidebar-dropdown-menu{
    height: 0px;
    display: none;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
*/

.sidebar-dropdown-menu {
    display: none;
}
.sidebar-dropdown-menu ul {
    margin: 0px;
    padding: 0px;
}
.sidebar-dropdown-menu ul li a {
    color: #516e8a;
    background: #1c2a36;
    font-family: 'proxima_novasemibold';
    border-left: 4px solid transparent;
    padding: 23px 20px 17px 54px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 65px;
  max-height: 65px;
}
.sidebar-dropdown-menu ul li a:hover{
    background: #101a22;
    color: #5a7590;
}
.sidebar-dropdown-menu ul li a i {
    margin-right: 35px;
}

.sidebar-menu li.active .sidebar-dropdown-menu ul li a {
    border-left: 4px solid transparent;
}

/**
 *
 * Main Content
 *
 */

.main-content{
	margin-left: 300px;
	padding: 25px 50px;
	background: #f4f9ff;
}


/*----------  Content Header  ----------*/

.content-header {
	margin-bottom: 25px;
}
.ticket-small-box{
	height: 130px;
	padding:20px;
    font-family: 'proxima_nova_bold';
	color: #f4f9ff;
	position: relative;
    text-transform: uppercase;
	overflow: hidden;
    margin-bottom: 5px;
}
.ticket-small-box a{
    color: #fff;
    text-decoration: none;
}

.ticket-small-box.all-tickets{
	background: #00b98b;
}
.ticket-small-box.solved-tickets{
	background: #258df4;
}
.ticket-small-box.pending-tickets{
	background: #ff474c;
}
.ticket-small-box h4{
	font-size: 18px;
}
.ticket-small-box h2 {
    font-size: 40px;
    margin-top: 15px;
}

.small-box-status {
    float: right;
    border-radius: 15px;
    background: #068868;
    color: #f4f9ff;
    padding: 6px 17px;
    font-size: 13px;
}
.ticket-small-box i{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ticket-small-box i.ticket-box-bg-icon {
    position: absolute;
    right: -21px;
    bottom: -30px;
    font-size: 101px;
}

.all-tickets i.ticket-box-bg-icon{
    color: #00ae83;	
}

.solved-tickets i.ticket-box-bg-icon{
    color: #2385e6;	
}

.pending-tickets i.ticket-box-bg-icon{
    color: #f04348;	
}
.ticket-small-box:hover i{
    transform: scale(1.1);
}

.remove-btn, .edit-btn {
    border: 1px solid #FF474C !important;
    border-radius: 100px;
    background: none;
    padding: 2px 5px 0px 5px;
    color: #FF474C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 25px;
    height: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.remove-btn:hover{
    background: #FF474C;
    color: #fff;
}

.remove-btn:focus,
.edit-btn:focus{
    outline: none;
}

.edit-btn {
    border: 1px solid #258DF4 !important;
    color: #258DF4 !important;
}
.edit-btn:hover{
    background: #258DF4;
    color: #fff !important;
}

/*----------  Content Body  ----------*/

.content-body{
	margin-bottom: 25px;
}
 .ticket-big-box {
    min-height: 495px;
    max-height: 501px;
    height: 501px;
}
 .ticket-big-box.s-ticket-p{
    height: initial;
    max-height: initial;
}
.ticket-big-box,
.staffs-p {
    background: #fff;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.13);
    border-radius: 2px;
}

.ticket-box-row-second .ticket-big-box{
    min-height: 390px;
    max-height: 390px;
    height: 390px;
}
.ticket-big-box-col {
	margin-bottom: 30px;
}
.box-title{
    height: 68px;
}
.table-responsive{
    width: 100%;
}
.ticket-big-box .box-title .title-text h3 ,
.staffs-p .box-title .title-text h3 {
    margin-top: 0px;
    padding: 27px 0px 14px 30px;
    color: #8198ac;
    text-transform: uppercase;
    font-family: 'proxima_nova_bold';
    font-size: 16px;
}
.ticket-big-box .table thead tr,
.staffs-p .table thead tr{
	background: #f4f9ff
}
.ticket-big-box .table thead tr th,
.staffs-p .table thead tr th {
    color: #8198ac;
    padding: 14px 28px;
    text-transform: uppercase;
    border-bottom: none;
    white-space: nowrap;
    border-right: 1px solid #f3f6f9;
    font-size: 13px
}
.table-hover > tbody > tr:hover {
	background: #f4f9ff
}
.ticket-big-box .table tbody tr td ,
.staffs-p .table tbody tr td {
    color: #8198ac;
    padding: 17px 33px;
    border-bottom: 1px solid #f3f6f9;
    border-right: 1px solid #f3f6f9;
    border-top: none;
    white-space: nowrap;
    font-family: 'proxima_nova_regular';
    font-size: 14px;
}
.ticket-big-box .table tbody tr td a,
.staffs-p .table tbody tr td a {
    color: #8198ac;
}
.template-ticket-status,
.ticket-info-assigned-staff{
    text-transform: capitalize;
}
span.status-new{
	color: #258df4;
}
 span.status-pending{
	color: #ff474c;
}
 span.status-solved{
	color: #00b98b;
}
.ticket-big-box .box-action, 
.staffs-p .box-action {
    padding: 23px;
}
.ticket-big-box .box-action button, 
.staffs-p .box-action button {
    border: none;
    color: #8198ac;
    /* top: 25px; */
    /* right: 33px; */
    background: none;
}
.ticket-big-box .box-action button:focus,
.staffs-p .box-action button:focus{
	outline: none
}
.dropdown-menu ul li>a:not(.grey):hover, .dropdown-menu ul li>a:hover, .dropdown-menu ul li label:not(.grey):hover, .dropdown-menu ul li label:hover {
    background-color: #202f3e;
    color: #ddd;
    cursor: pointer;
}
.popover-wrapper {
}

.popover-modal .popover-body { overflow:hidden; padding:1em;}


.popover-modal {
     border: none; 
    -webkit-box-shadow: 1px 0px 12px rgba(0, 0, 0, .175);
    box-shadow: 1px 0px 12px rgba(0, 0, 0, .175);
}
.popover-modal:before {
    border-bottom-color: #e8e9ea;
}
.popover-body {}
.popover-body ul{
    margin: 0px;
    padding: 0px;
}
.popover-body ul li{
    list-style: none;
}

.popover-body ul li a{
    margin-bottom: 1px;
    padding: 10px;
    display: block;
    color: #8198ac;
    text-decoration: none;
}
.popover-body ul li a:hover{
    text-decoration: none;
    background: #F4F9FF;
    color: #8198ac;
}
.popover-body ul li a:focus{
    outline: none;
}

/* CLIENTS LIST */
.clients-list {
	margin: 0px;
	padding: 0px 28px;
}
.clients-list li {
    list-style: none;
    clear: both;
    margin-bottom: 9px;
}
.clients-list li a{
    display: block;
    height: 62px;
    width: 100%;
}
.clients-list li .client-list-img{
	width: 40px;
	float: left;
}
.clients-list li .client-list-img img{}
.clients-list li .client-list-name{
	float: left;
	margin-left: 25px;
}
.clients-list li .client-list-name h4 {
    color: #8198ac;
    font-family: 'proxima_novasemibold', sans-serif;
    margin: 6px 0px 2px 0px;
    font-size: 17px;
}
.clients-list li .client-list-name span {
    color: #b2c1cf;
    font-size: 14px
}


.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0px 30px;
}

.chart canvas {
    width: 100% !important
}
#statisticsChart{
  height: 415px;
}

.statistics_box {
    position: relative;
}
.legend {
    width: 10em;
    position: absolute;
    left: 70px;
    top: 6px;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    font-family: 'proxima_novasemibold';
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;

}



/*=============================================
=            Single ticket page               =
=============================================*/

.ticket-single-page{
    margin-top: 15px;
}


.ticket-box{
    box-shadow: 0px 0px 6px rgba(0,0,0,0.13);
    background: #fff;
}

.ticket-header {
    height: 60px;
    padding: 25px 30px;
}
.ticket-header h4{
    color: #8198ac;
    margin: 0px;
    font-family: 'proxima_nova_bold';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.ticket-title {
    background: #f4f9ff;
    padding: 18px 15px 7px;
    margin-right: 0px;
    margin-left: 0px;
}
.ticket-title h3 {
    font-size: 18px;
    font-family: 'proxima_novasemibold';
    color: #849bb3;
    margin: 0px;
}

.t-t-d{
    text-align: right;
    color: #afc4d8;
    font-size: 12px
}

.ticket-detail{
    padding:15px 30px;
}
.ticket-detail p {
    color: #849bb3;
    line-height: 28px;
    font-size: 15px;
}

.file-attached{
    background: url('/assets/img/bg-at.png') repeat-x;
    height: 45px;
    border: 1px solid #eaf1f6;
    border-radius: 5px
}
.file-single{
    height: inherit;
}
.file-t {
    width: 110px;
    margin-right: 15px;
    float: left;
    height: inherit;
    padding: 13px 0px 13px 20px;
}
.file-t span{
    font-size: 12px;
    color: #92a8be;
}
.file-name {
    padding: 12px 30px 12px 0px;
    float: left;
}
.file-name span a{
    color: #698097;
    font-size: 15px;
}

.ticket-replies {
    border-top: 1px solid #eff3f8;
    margin-top: 25px;
}
.reply-hide{
    display: none;
}
.single-reply:hover .remove-reply{
    display: block;
}
.remove-reply{
    display: none;
    border: none;
    background: none;
    border-radius: 40px;
    padding: 2px 4px 2px 5px;
    border: 1px solid transparent;
    color: #e24044;
    font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.remove-reply:hover{
    border: 1px solid #e24044;
}
.remove-reply:focus{
    outline: none
}
.reply-form{
    padding: 30px 30px;
}
.reply-form label {
    font-size: 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'proxima_nova_bold';
    color: #8198ac;
}
.reply-form textarea#reply-textarea{
    height: 120px;
    resize: none;
    border: 1px solid #e6ecf2;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: hidden;
}


.reply-form textarea#reply-textarea:focus {
    border-color: #202F3E;
    outline: 0;
     -webkit-box-shadow: none; 
     box-shadow: none; 
}

.reply-form  .form-group{
    position: relative;
}
#reply-attach-file {
    color: transparent;
    width: 120px;
    right: 2px;
    top: 107px;
}
#reply-attach-file::-webkit-file-upload-button {
  visibility: hidden;
}
#reply-attach-file:focus{
    outline: none;
}
#reply-attach-file::before {
    content: 'Attach file';
    display: inline-block;
    background: #202f3e;
    border-radius: 3px;
    padding: 13px 20px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    color: #8198ac;
    text-transform: uppercase;
}
#reply-attach-file:focus:before {
    outline: none;
}
#reply-attach-file:hover::before {
  border-color: black;
}
#reply-attach-file:active {
  outline: 0;
}
#reply-attach-file:active::before {
  background: #203141; 
}




.js .inputfile,
.js .inputfile.replyfile
 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label,
.inputfile.replyfile + label {
    max-width: 80%;
    font-size: 11px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    padding: 15px 17px;
    border-radius: 3px;
    position: absolute;
    right: 4px;
    bottom: -11px;
    background: #202F3E
}

.no-js .inputfile.replyfile + label,
.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile.replyfile:focus + label,
.inputfile.replyfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg ,
.inputfile.replyfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}



.inputfile-1 + label {
    color: #8198ac;
    background-color: #202f3e ;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #202f3e;
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

/* CUSTOM BOOTSTRAP */
.btn {
    padding: 14px 21px;
    font-size: 13px;
    border-radius: 2px;
    font-family: 'proxima_nova_bold';
    text-transform: uppercase;
}

.btn-success {
    color: #fff;
    background-color: #00b98b;
    border-color: #05ab82;
}
.btn-success:hover {
    color: #fff;
    background-color: #00b98b;
    border-color: #06a27c;
}
.btn-success:focus, .btn-success:active:focus {
    color: #fff;
    background-color: #00B98B;
    border-color: #099a76;
}
.btn-info {
    color: #b5cadc;
    background-color: #202f3e;
    border-color: #223140;
    margin-right: 10px;
}
.btn-info:hover {
    color: #b5cadc;
    background-color: #2b3e50;
    border-color: #17212b;
}
.btn-info:focus, .btn-info:active:focus {
    color: #fff;
    background-color: #223140;
    border-color: #172029;
}

.btn{
    outline: none
}


.form-status.alert-warning li,
.form-status.alert-danger li {
    list-style: none;
    padding-left: 18px;
    position: relative;
}

.form-status.alert-warning li:after,
.form-status.alert-danger li:after {
    content: '\f00d';
    font-family: 'FontAwesome';
    font-size: 14px;
    position: absolute;
    left: 0px;
    top:  -2px;
}

/* TICKET INFORMATION */
.ticket-info-body{
}

.ticket-info-body table tr:nth-child(2n + 1) {
    background: #f4f9ff;
}

.ticket-info-body table tr{
    height: 55px;
}
.ticket-info-body table tbody tr td, 
.ticket-info-body table tbody tr th {
    border-top: 0px;
    padding: 20px 10px 15px 30px;
    color: #8198ac;
}
.ticket-info-body table tbody tr td a{
    color: #8198ac;
    
}

.ticket-info-body table tbody tr th {
    width: 35%;
    font-weight: normal;
    font-size: 15px;
}

.ticket-info-footer{
    padding: 1px 30px 25px;
}

.all-replies{
    padding: 30px 30px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.all-replies .row{
    margin-right: 0px;
    margin-left: 0px;
}

.single-reply{
    margin-bottom: 60px;
    position: relative;
}

.single-reply:last-child{
    margin-bottom: 30px;
}

.single-reply:after {
    position: absolute;
    bottom: -28px;
    left: -31px;
    background: #eff3f8;
    height: 1px;
    width: 107%;
    content: '';
}

.single-reply .media-left, 
.single-reply .media > .pull-left {
    padding-right: 20px;
}
.reply-user-img img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.reply-user-img img:focus{
    outline: none;
}
.reply-user-details{}
.reply-user-details h4{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'proxima_nova_bold';
}
.reply-user-details h4 a {
    color: #202f3e;
    font-size: 19px;
}
.reply-user-details h4 a:focus{
    outline: none;
}
.reply-user-details p.user-role{
    color: #8198ac;
    font-size: 13px;
}
.reply-user-details p.reply-date{
    color: #8198ac;
    font-size: 14px;
}

.reply-box-right{
}
.reply-message {
    margin-top: 20px;
}
.reply-message p {
    color: #8198ac;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    /*white-space: pre;*/
}
/* MODAL OVERLAY */


.as-n-s, .as-n-u{
    display: inline-block;
    position: relative;
}
.assign-staff-up-box{
    position: relative;
}
/*.assign-staff-up-box:after {
    position: absolute;
    left: 33px;
    bottom: -7px;
    width: 15px;
    height: 15px;
    background: #fff;
    content: '';
    transform: rotate(45deg);
}*/

.up-info-box, .update-status {
    position: absolute;
    top: -357px;
    background: #fff;
    width: 323px;
    height: 280px;
    left: 0px;
    box-shadow: 0px 8px 11px rgba(0,0,0,0.1);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
}
.update-status {
    overflow: hidden;
    top: -357px;
    left: -87px;
}
.drop-active{
    visibility: visible;
    top: -297px;
    opacity: 1
}

.up-box-status {
    position: absolute;
    right: 67px;
    top: 21px;
    font-size: 18px;
    color: #ddd;
    display: none;
}
.up-box-cancel {
    position: absolute;
    right: 25px;
    top: 21px;
    font-size: 18px;
    color: #ddd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.up-box-cancel:hover{
    cursor: pointer;
    color: #FF474C;
}
.up-box-status.active{
    display: block;
}
.up-box-status i.status-success{
    color: #03AC85
}
.up-box-status i.status-error{
    color: #FF474C
}
.up-info-box h3 {
    color: #8198ac;
    margin: 23px 0px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px 20px;
}
.up-info-box .media-left, 
.up-info-box .media > .pull-left {
    padding-right: 20px;
}
.up-info-box .media-body h4 {
    color: #202f3e;
    font-size: 16px;
    font-weight: 700;
    padding-right: 50px;
    text-transform: capitalize;
}

.up-info-box .media-body p  {
    color: #8198ac;    
    font-size: 14px;
    font-weight: 400;

}
.up-info-box .media{
    position: relative;
}
.box-form-outer .scroll-bar.vertical {
    width: 14px;
}

.box-form-outer {
    padding: 0px 20px 20px;
    height: 220px;
}
.assign-user-media img{
    width: 40px;
    height: 40px;
    border-radius: 50px;

}
.box-form-outer input[type=radio].assign_user,
.box-form-outer input[type=radio].ticket_status{
    display: none;
}
.box-form-outer.scrollable .scroll-bar.vertical .thumb {
    background: #BED2E5;
    border-radius: 20px;
}
.box-form-outer.scrollable .scroll-bar.vertical:hover .thumb{
    background: #adc5dc
}
.update-status .media-body {
    padding: 6px 0px 0px 40px;
}
.box-form-outer input[type=radio].assign_user + span.input_radio,
.box-form-outer input[type=radio].ticket_status + span.input_radio 
{
    position: absolute;
    background: #ebf1f7;
    width: 30px;
    height: 30px;
    display: block;
    top: 0px;
    right: 10px;
    color: #fff;
    padding: 9px 9px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 200px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box-form-outer input[type=radio].ticket_status + span.input_radio {
    top: 1px;
    left: 0px;
}

.box-form-outer input[type=radio].assign_user + span.input_radio i,
.box-form-outer input[type=radio].ticket_status + span.input_radio i{
    transform: scale(0);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
}
.box-form-outer input[type=radio].assign_user:checked + span.input_radio,
.box-form-outer input[type=radio].ticket_status:checked + span.input_radio {
    background: #03ac85;
    color: #fff;
    padding: 9px 9px;
    box-sizing: border-box;
    font-size: 12px;
}
.box-form-outer input[type=radio].ticket_status:checked + span.ticket_pending{
    background: #FF474C;
}
.box-form-outer input[type=radio].assign_user:checked + span.input_radio i,
.box-form-outer input[type=radio].ticket_status:checked + span.input_radio i{
    display: block;
    transform: scale(1);
}



._mCS_1 .mCSB_dragger .mCSB_dragger_bar{ background-color: red; }

._mCS_2 .mCSB_dragger .mCSB_dragger_bar{ background-color: green; }

 .mCSB_dragger_bar{ background-color: blue; }

#mCSB_1_scrollbar_vertical .mCSB_dragger{ height: 100px; }

#mCSB_1_scrollbar_horizontal .mCSB_dragger{ width: 100px; }

.mCSB_1_scrollbar .mCSB_dragger .mCSB_draggerRail{ width: 4px; }



/*----------  Settings page  ----------*/
.nav-tabs > li {
    width: 20%;
}

.fullwidth-li {
    width: 100% !important;
}

.nav-tabs > li:last-child a{
    margin-right: 0px !important;
}
.nav-tabs > li > a {
    border-radius: 0px;
    background: #f4f9ff;
    color: #849bb3;
    font-size: 16px;
    margin-right: 4px;
    font-family: 'proxima_novasemibold';
    padding: 15px 36px 13px;
    text-align: center;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #c8d7e5;
    background-color: #203040;
    border: 1px solid transparent;
    border-bottom-color: transparent;

}

.nav-tabs > li.active > a:after{
    visibility: visible;
    background: #203040;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    content: '';
    transform: rotate(45deg);
    margin-left: -7px;
    opacity: 1;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #ECF5FF;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
.nav-tabs > li > a:hover {
    border-color: transparent;
}

.tab-pane{
    padding: 30px;
}
.form-group{
    display: block;
}
.form-group:after,
.form-group:before{
    display: table;
    content: " ";
}
.form-input {
    width: 40%;
    float: left;
    margin-right: 30px;
}

.form-required-lable {
    float: left;
    color: #94acc3;
    padding-top: 28px;
    width: 55%;
    vertical-align: middle;
}
.tab-pane h3 {
    margin-top: 0px;
    font-size: 20px;
    max-width: 100%;
    margin-bottom: 13px;
    border-bottom: 1px solid #849bb3;
    color: #849bb3;
    font-family: 'proxima_novasemibold';
    padding-bottom: 3px;
}
.form-required-lable.department-fg {
    padding-top: 25px;
}
.settings-tab label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color: #849bb3;
    font-family: 'proxima_novasemibold';
    font-size: 15px;
}
.settings-tab .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #5a7b9a;
    background-color: #f4f9ff;
    background-image: none;
    border: 1px solid #e4eaf1;
    border-radius: 2px;
     -webkit-box-shadow: none; 
     box-shadow: none; 
    margin-top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.settings-tab select.form-control option{
    padding: 20px 0px;
}
.settings-tab .form-control:focus{
    border: 1px solid #dadada;
}
.settings-tab  form input::-webkit-input-placeholder {
    color: #94acc3;
}

.settings-tab .inputfile + label {
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    padding: 15px 88px 15px 22px;
    border-radius: 3px;
    position: initial;
    float: left;
    width: 100% !important;
    max-width: 100% !important;
}



.settings-tab .inputfile-1:focus + label, .inputfile-1.has-focus + label {
    background-color: #f4f9ff;
}
.inputfile-1 + label,
.inputfile-2 + label,
.inputfile-5 + label {
    color: #8198ac;
    background-color: #f4f9ff;
}
.inputfile-2 + label{
    border: 1px solid #e4eaf1;
}

.logo_file_type button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    height: 50px;
    float: left;
    background: #5e748a;
    border: none;
    color: #fff;
    font-family: 'proxima_nova_bold';
    width: 35%;
    border-radius: 0px 2px 2px 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.logo_file_type button:hover,
.logo_file_type button:focus{
    background: #56697b;
}
.settings-tab  .btn{
    padding: 13px 28px;
    margin-right: 7px;
    border-radius: 3px;
}
.settings-tab .form-group.checkbox{
    margin: 30px 0px 0px;
}
.settings-tab .form-group.checkbox  label{
    color: #94acc3;
    font-family: 'proxima_nova_regular';;
}

.settings-tab .submit-btns{
    margin-top: 30px;
}
.settings-tab textarea.form-control {
    height: 150px;
}

.all-departments {}
.all-departments ul{
    margin: 0px;
    padding: 0px;
}
.all-departments ul li {
    list-style: none;
    padding: 18px 15px 18px 20px;;
    display: inline-block;
    background: #f4f9ff;
    margin: 0px 14px 14px 0px;
    color: #849bb3;
    border: 1px solid #e4eaf1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.all-departments ul li:hover{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.05);

}
.all-departments ul li .content{
    margin-right: 20px;
}
.all-departments ul li .content input{
    border: 1px solid #ddd;
    padding: 2px 5px;
    display: none;
}
.all-departments ul li span i{
    /*margin-left: 20px;*/
}

.all-departments ul li span button{
    background: none;
    border: none;
}
.all-departments ul li span button:focus{
    outline: none;
}
.add_department_btn{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.add_department_btn i{
    margin-right: 5px;
}

.help-block.text-error{
    color: #a94442;
}
.all-departments ul li span:hover{
    cursor: pointer;
}

    /*----------  NEW USER MODAL  ----------*/

.md-overlay {
    background: rgba(0,0,0,0.06);
}
.md-content {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0px 21px 55px rgba(0,0,0,0.07);
}
.md-modal {
    max-width: 420px;
    min-width: 319px;
}

.get-create-form .client_img_g .inputfile-2 + label{
    position: initial;
    display: block;
    max-width: 100%
}
.get-create-form {
    width: 400px;
}
.get-create-form .alert {
    font-size: 14px;
}

.editLoader {
    position: absolute;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.editLoader i {
    position: absolute;
    left: 50%;
    top: 36%;
    font-size: 34px;
    color: #16222C;
    margin-left: -22px;
}

.new-staff-modal .inputfile + label {
    width: 100%;
    min-width: 100%;
}


.new-staff-modal .form-group{
    min-height: 85px;
    margin-bottom: 0px;
}

.md-content button{
    display: inline-block;
}

.new-staff-modal .btn {
    padding: 15px 40px;
    margin-right: 7px;
    border-radius: 3px;
    font-size: 14px;
}
.settings-tab .form-control {
    margin-top: 0px;
}
.new-staff-modal .submit-btns {
    margin-top: 10px;
}
.staff_img_g {
    margin-bottom: 9px !important;
}
.new-staff-modal h4,
.get-create-form h4 {
    color: #8198ac;
    font-family: 'proxima_nova_bold';
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
    font-size: 16px;
}
.md-content button.md-close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #8198ac;
    font-size: 15px;
}


/*  STAFFS PAGE  */


.tbl-btn button{
    background: none;
    border: none;
}
.tbl-btn button:focus{
    outline: none;
}
.staffs-p .table tbody tr td{
    vertical-align: middle;
    
}
.staffs-p .table tbody tr td.tbl-img{
    padding: 10px 33px;
}

.has-error .form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .form-control {
    border: 1px solid #af4b4b !important;
}


/*  TINYMCE     */


.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset{
    color: #333 !important;
}
.mce-panel {
    background-color: #F4F9FF !important;
    border: 1px solid #e6ecf2 !important;
}
.mce-panel:focus{
    border: 1px solid red !important;

}
#mceu_2{
    display: none;
}
.mce-btn {
    background-color: #F4F9FF !important;
}