html, body{
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100%;
	width: 100%;
}

::selection {
	color: #fff;
	background: #19b5fe
}
::-moz-selection {
	color: #fff;
	background: #19b5fe
}
::-webkit-selection {
	color: #fff;
	background: #19b5fe
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.outer{
	display: table;
	width: 100%;
	height: 100%;
}
.inner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.error-area{
	position: relative;
	display: inline-block;
	width: 80%;
}
.error-area img{
	margin-bottom: 40px;
}
.error-area h1{
	color: #19b5fe;
    font-family: 'proxima_nova_bold';
	font-size: 60px;
}

.error-area p {
    font-family: 'proxima_nova_regular';
    font-size: 15px;
    color: #738191;
    line-height: 24px;
}
.error-area a{
	color: #19b5fe;
}
.error-area a.link-dashboard{
	margin-left: 30px;
}